html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #042037;
    padding-bottom: 80px;
}

body.admin {
	background-color: #FFFFFF;
}

@media only screen and (max-width : 1200px) {
	body {
	    padding-bottom: 100px;
	}
}

@media only screen and (max-width : 725px) {
	body {
	    padding-bottom: 180px;
	}
}


body > .container {
    padding-top: 60px;
}

/* Homepage Text */
.v-center {
  margin-top:7%;
}

.v-center h1 {
  font-family: Arial,sans-serif;
  color:#FFFFFF;
}

.v-center .lead {
	color:#FFFFFF;
}

/* home page button */
.welcome-button a {
	width: 250px;
}

.container .new-entry-options a {
	margin-left: 20px;
}

.container .entry {
  	background-color: #FFFFFF;
  	border-radius: 10px;
}

.top-buffer { 
	margin-top:20px; 
}

/* About Page Profile Picture */
.container .row .about-profile-picture {
	height: 300px;
	width: 220px;
	margin: 40px 0 20px;
	box-shadow: 10px 10px 5px #888888;	
}

.container .row .about-profile-picture img {
	width: 100%;
	height: 100%;	
}

/* Code font size */
code {
    font-size: 80%;
}

/* Links on Lab Page */
.lab-icons {
	margin-top: 10px
}

.lab-icons .icon {
	display: inline-block;
}

.lab-icons .icon a {
	margin-right: 20px
}

.lab-icons .icon img {
	height: 20px
}

/* Footer */ 
.footer {
    background-color: #FFFFFF;
    bottom: 0;
    position: fixed; 
    width: 100%;
    margin-top:10px;
}

/* Footer Container */
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

/* Footer social link wrapper */
.footer-icon-wrapper {
	max-width: 50%;
	float: right;
}

/* Footer Social Icons */
.footer-icon-wrapper img {
	height: 64px;
	width: 64px;
	margin-left: 20px;
}

/* Footer Quote  */
.footer-quote {
	max-width: 50%;
    font-style: italic;
    float: left;
    margin-top: 30px;
}